

.nav-item {
    font-size: large;
    transition: all 0.5s ease-in-out;
}

#archiveSubmenu, #statsSubmenu{
    position: relative;
    right: 10px;
}
.nav-link,
.navbar-brand {
    color: white;
}

.nav-link:hover{
    color: aquamarine;
}

.bi-speedometer2,
.bi-file-earmark-zip,
.bi-bar-chart,
.bi-gear {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-brand{
    font-size: 30px;
}

.left-card{
    padding: 20px;
    /* border: 1px solid gray; */
    border: 1px solid #e9ecef;
    border-top: 0;
}


